<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste view clima</title>
</head>
<body>
    <div class="container">
        <input type="text" name="cidade-nome" id="cidade-nome">
    </div>
    <div class="container">
        <h1>Clima em <%= clima.cidade %></h1>
        <p><strong>País: </strong><%= clima.pais %></p>
        <p><strong>Temperatura: </strong> <%= clima.temperatura %></p>
        <p><strong>Sensação térmica: </strong> <%= clima.sensacao_termica %></p>
        <img src="<%= clima.icone %>" alt="Ícone do clima">
    </div>
</body>
</html>